<div class="page-header">
    <h1>Termékek kezelése</h1>
</div>

<p>Raktár alkalmazás. Az alkalmazás segítségével termékeket vehetünk fel a listára. Megtekinthetjük az adatlapjukat. Módosithatjuk egy termék adatait, vagy akár ki is törölhetjük.</p>